---
layout: default
title: "Publications"
permalink: /publications/
---

{% include base_path %}

For the up-to-date publication list, please visit the <a href="https://scholar.google.com/citations?hl=en&user=TF2LRvMAAAAJ">Google Scholar</a>  page.

<p> Filter by type:
  <select class="pubtype-select" data-filter-group="pubtype" id="pub_type" onchange="select_func.call(this)">    
    <option value=".pubtype-0">All</option>
    <option value=".pubtype-1">Conference paper</option>
    <option value=".pubtype-2">Journal paper</option>
    <option value=".pubtype-3">Book chapter</option>
    <option value=".pubtype-4">Preprint</option>
    <option value=".pubtype-5">Under Review</option>
  </select>
</p>

<div id="all">
  <h2>2024</h2>
  {% for post in site.publications reversed %}
    {% if post.year == '2024' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
  <h2>2023</h2>
  {% for post in site.publications reversed %}
    {% if post.year == '2023' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
  <h2>2022</h2>
  {% for post in site.publications reversed %}
    {% if post.year == '2022' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
  <h2>2021</h2>
  {% for post in site.publications reversed %}
    {% if post.year == '2021' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
  <h2>2020</h2>
  {% for post in site.publications reversed %}
    {% if post.year == '2020' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</div>
<div id="conference">
  {% for post in site.publications reversed %}
    {% if post.type == 'conference paper' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</div>
<div id="journal">
  {% for post in site.publications reversed %}
    {% if post.type == 'journal paper' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</div>
<div id="book chapter">
  {% for post in site.publications reversed %}
    {% if post.type == 'book chapter' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</div>
<div id="preprint">
  {% for post in site.publications reversed %}
    {% if post.type == 'preprint' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</div>
<div id="under review">
  {% for post in site.publications reversed %}
    {% if post.type == 'under review' %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
</div>

<script>
function init(){
  document.getElementById("all").style.display = "block";
  document.getElementById("conference").style.display = "none";
  document.getElementById("journal").style.display = "none";
  document.getElementById("book chapter").style.display = "none";
  document.getElementById("preprint").style.display = "none";
  document.getElementById("under review").style.display = "none";
}
window.onload = init;
  
function select_func() {
  var x = document.getElementById("pub_type").value;
  if(x == ".pubtype-0"){
    document.getElementById("all").style.display = "block";
    document.getElementById("conference").style.display = "none";
    document.getElementById("journal").style.display = "none";
    document.getElementById("book chapter").style.display = "none";
    document.getElementById("preprint").style.display = "none";
    document.getElementById("under review").style.display = "none";
  }
  if(x == ".pubtype-1"){
    document.getElementById("all").style.display = "none";
    document.getElementById("conference").style.display = "block";
    document.getElementById("journal").style.display = "none";
    document.getElementById("book chapter").style.display = "none";
    document.getElementById("preprint").style.display = "none";
    document.getElementById("under review").style.display = "none";
  }
  if(x == ".pubtype-2"){
    document.getElementById("all").style.display = "none";
    document.getElementById("conference").style.display = "none";
    document.getElementById("journal").style.display = "block";
    document.getElementById("book chapter").style.display = "none";
    document.getElementById("preprint").style.display = "none";
    document.getElementById("under review").style.display = "none";
  }
  if(x == ".pubtype-3"){
    document.getElementById("all").style.display = "none";
    document.getElementById("conference").style.display = "none";
    document.getElementById("journal").style.display = "none";
    document.getElementById("book chapter").style.display = "block";
    document.getElementById("preprint").style.display = "none";
    document.getElementById("under review").style.display = "none";
  }
  if(x == ".pubtype-4"){
    document.getElementById("all").style.display = "none";
    document.getElementById("conference").style.display = "none";
    document.getElementById("journal").style.display = "none";
    document.getElementById("book chapter").style.display = "none";
    document.getElementById("preprint").style.display = "block";
    document.getElementById("under review").style.display = "none";
  }
  if(x == ".pubtype-5"){
    document.getElementById("all").style.display = "none";
    document.getElementById("conference").style.display = "none";
    document.getElementById("journal").style.display = "none";
    document.getElementById("book chapter").style.display = "none";
    document.getElementById("preprint").style.display = "none";
    document.getElementById("under review").style.display = "block";
  }
}
</script>