{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'publications' %}
      <table style="width:100%;border:5px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
        <tbody><tr>
            <td style="padding:15px;width:30%;horizontal-align:center">
                <img src="{{post.image}}" style="float:left"/>
            </td>
            <td style="padding:5px;width:70%">
              <p><a class="pub1" href="{{ post.link }}">{{ post.title }}</a></p>
              <p><a class="pub2"> {{ post.authors }}, <i>{{ post.publication }}</i>, {{ post.year }}. </a>
              {% if post.github %}
                <a href="{{ post.github }}"> <i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
              {% endif %}
              </p>
            </td>
        </tr></tbody>
      </table>
    {% elsif post.collection == 'portfolio' %}
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
        <tbody><tr>
            <td style="padding:10px;width:25%;vertical-align:middle">
              <p align="center">
                <img src="{{post.image}}" width="285"/>
              </p>
            </td>
            <td style="padding:10px;width:75%">
              <b><a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a></b>
              <br>
              <p> {{post.excerpt}} </p>
              {% if post.github != 'None' %}
                <button class="btn btn-round btn-sm btn-ghost-blue" onclick="location.href='{{post.github}}'">github</button>
              {% endif %}
              {% if post.docs != 'None' %}
                <button class="btn btn-round btn-sm btn-ghost-blue" onclick="location.href='{{post.docs}}'">docs</button>
              {% endif %}
              {% if post.pdf != 'None' %}
                <button class="btn btn-round btn-sm btn-ghost-blue" onclick="location.href='{{post.pdf}}'">pdf</button>
              {% endif %}
            </td>
        </tr></tbody>
      </table>
    {% elsif post.collection == 'teaching' %}
      <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
        <tbody><tr>
            <td style="padding:5px;width:20%;horizontal-align:middle">
              <p align="center">
                <img src="{{post.image}}" width="90"/>
              </p>
            </td>
            <td style="padding:5px;width:80%">
              {% if post.link %}
                <b><a class="pub1" href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a></b>
              {% else %}
                <b><a class="pub1" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a></b>
              {% endif %}
              <br><p><a class="pub2"> <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} 
              <br> {{ post.subject }} </a></p>
            </td>
        </tr></tbody>
      </table>
    {% elsif post.collection == 'research' %}
    <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
        <tbody><tr>
            <td style="padding:5px;width:20%;horizontal-align:middle">
              <p align="center">
                <img src="{{post.image}}" width="90"/>
              </p>
            </td>
            <td style="padding:5px;width:80%">
              {% if post.link %}
                <b><a class="pub1" href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a></b>
              {% else %}
                <b><a class="pub1" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a></b>
              {% endif %}
              <br><p> <a class="pub2"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </a></p>
            </td>
        </tr></tbody>
      </table>
    {% else %}
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
    {% endif %}
  </article>
</div>
