{% include base_path %}
<style>
  @media (max-width: 767px) {
    .publication-table tr {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .publication-table td {
      width: 100% !important;
      text-align: center !important;
      padding: 10px !important;
    }

    .publication-table img {
      max-width: 80%;
      height: auto;
    }

    .publication-table .pub1 {
      font-size: 18px;
    }
  }
  .authors-info .pub-author {
    margin-bottom: 10px;
  }
  .authors-info a {
    text-decoration: none; /* Remove underline from the links */
    color: black; /* Default color for the links */
  }

  .authors-info a:hover {
    color: rgb(42, 152, 249); /* Hover color for links */
  }

</style>
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser" style="text-align: center;">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt=""
          style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
      </div>
    {% endif %}

    {% if post.collection == 'publications' %}
      <table class="publication-table" style="width:100%; border:5px; border-spacing:0px; border-collapse:collapse; margin-right:auto; color: black;">
        <tbody>
          <tr>
            <td style="padding:15px; width:30%; text-align:center;">
                <img src="{{ post.image }}" alt="{{ post.title }}" style="max-width:100%; height:auto; display: block; margin: auto;" />
            </td>
            <td style="padding:5px; width:70%; color: black;">
              <p><a class="pub1" href="{{ post.link }}" style="color: rgb(2, 108, 201);"><b>{{ post.title }}</b></a>
                <br>
                {% if post.authors %}
                  <div class="authors-info" style="color: black;">
                    {% assign authors_list = "" %}
                    {% assign total_authors = post.authors | size %}
                    {% assign cofirst_count = post.cofirst | default: 0 %}
                    {% assign cofirst_authors = post.authors | slice: 0, cofirst_count %}
                    
                    {% for author_id in post.authors %}
                      {% assign author = site.data.authors[author_id] %}
                      {% assign current_index = forloop.index %}  <!-- Get current index in the loop -->
                
                      {% if author_id == "huyle" %}
                        <!-- Make the author with id "huyle" bold and a link if a URL exists -->
                        {% if author.url %}
                          {% assign authors_list = authors_list | append: "<strong><a href='" | append: author.url | append: "' target='_blank' style='font-weight: bold;'>" | append: author.name | append: "</a></strong>" %}
                        {% else %}
                          {% assign authors_list = authors_list | append: "<strong>" | append: author.name | append: "</strong>" %}
                        {% endif %}
                      {% else %}
                        <!-- Other authors with normal text weight and link if a URL exists -->
                        {% if author.url %}
                          {% assign authors_list = authors_list | append: "<a href='" | append: author.url | append: "' target='_blank'>" | append: author.name | append: "</a>" %}
                        {% else %}
                          {% assign authors_list = authors_list | append: author.name %}
                        {% endif %}
                      {% endif %}
                
                      <!-- Check if this author is a co-first author and add an asterisk -->
                      {% if cofirst_authors contains author_id %}
                        {% assign authors_list = authors_list | append: "*" %}
                      {% endif %}
                
                      <!-- Add a comma if it's not the last author -->
                      {% if current_index < total_authors %}
                        {% assign authors_list = authors_list | append: ", " %}
                      {% endif %}
                    {% endfor %}
                    
                    <!-- Output the final list of authors -->
                    <p>{{ authors_list }}</p>
                  </div>
                {% endif %}
                <br>
                <i>{{ post.publication }}</i>, {{ post.year }}<br>
                {% if post.additional %}
                <span style="color: red;"><b>{{ post.additional }}</b>
                  {% if post.workshop %}
                  <span style="color: black;">, </span>
                  {% endif %}
                </span>
                {% endif %}
                {% if post.workshop %}
              <a class="pub1" href="{{ post.workshop_link }}" style="color: black;"><u>{{ post.workshop }}</u></a>
              {% endif %}              
            </p>
              {% if post.arxiv %}
                <a class="external-link button is-small is-ghost" href="https://arxiv.org/abs/{{ post.arxiv }}" style="color: black; padding-right: 20px;">
                <span style="color: rgb(42, 152, 249); class="icon"><i class="ai ai-arxiv"></i> arXiv</span>
              </a>
              {% endif %}
              {% if post.github %}
                <a class="external-link button is-small is-ghost" href="{{ post.github }}" style="color: black; padding-right: 20px;">
                  <span style="color: rgb(42, 152, 249); class="icon"><i class="fab fa-github"></i> Code</span>
                </a>
              {% endif %}
              {% if post.page %}
                <a class="external-link button is-small is-ghost" href="{{ post.page }}" style="color: black; padding-right: 20px;">
                  <span style="color: rgb(42, 152, 249); class="icon"><i class="fab fa-github"></i> Project Page</span>
                </a>
              {% endif %}  
            </p>
            </td>
          </tr>
        </tbody>
      </table>
    {% elsif post.collection == 'portfolio' %}
      <table style="width:100%; border:0px; border-spacing:0px; border-collapse:collapse; margin-right:auto; color: black;">
        <tbody>
          <tr>
            <td style="padding:10px; width:25%; vertical-align:middle; text-align:center;">
              <p>
                <img src="{{ post.image }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; display: block; margin: auto;" />
              </p>
            </td>
            <td style="padding:10px; width:75%; color: black;">
              <b><a href="{{ base_path }}{{ post.url }}" rel="permalink" style="color: black;">{{ title }}</a></b>
              <br>
              <p style="color: black;">{{ post.excerpt }}</p>
              {% if post.github != 'None' %}
                <button class="btn btn-round btn-sm btn-ghost-blue" onclick="location.href='{{ post.github }}'" style="color: black;">github</button>
              {% endif %}
              {% if post.docs != 'None' %}
                <button class="btn btn-round btn-sm btn-ghost-blue" onclick="location.href='{{ post.docs }}'" style="color: black;">docs</button>
              {% endif %}
              {% if post.pdf != 'None' %}
                <button class="btn btn-round btn-sm btn-ghost-blue" onclick="location.href='{{ post.pdf }}'" style="color: black;">pdf</button>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    {% elsif post.collection == 'teaching' %}
      <table style="width:100%; border:0px; border-spacing:0px; border-collapse:collapse; margin-right:auto; color: black;">
        <tbody>
          <tr>
            <td style="padding:5px; width:20%; text-align:center;">
              <p>
                <img src="{{ post.image }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; display: block; margin: auto;" />
              </p>
            </td>
            <td style="padding:5px; width:80%; color: black;">
              {% if post.link %}
                <b><a class="pub1" href="{{ post.link }}" style="color: black;">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a></b>
              {% else %}
                <b><a class="pub1" href="{{ base_path }}{{ post.url }}" rel="permalink" style="color: black;">{{ title }}</a></b>
              {% endif %}
              <br>
              <p><a class="pub2" style="color: black;"> <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} 
              <br> {{ post.subject }}</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    {% elsif post.collection == 'research' %}
    <table style="width:100%; border:0px; border-spacing:0px; border-collapse:collapse; margin-right:auto; color: black;">
        <tbody>
          <tr>
            <td style="padding:5px; width:20%; text-align:center;">
              <p>
                <img src="{{ post.image }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; display: block; margin: auto;" />
              </p>
            </td>
            <td style="padding:5px; width:80%; color: black;">
              {% if post.link %}
                <b><a class="pub1" href="{{ post.link }}" style="color: black;">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a></b>
              {% else %}
                <b><a class="pub1" href="{{ base_path }}{{ post.url }}" rel="permalink" style="color: black;">{{ title }}</a></b>
              {% endif %}
              <br>
              <p><a class="pub2" style="color: black;"><i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <h2 class="archive__item-title" itemprop="headline" style="color: black;">
        {% if post.link %}
          <a href="{{ post.link }}" style="color: black;">{{ title }}</a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink" style="color: black;">{{ title }}</a>
        {% endif %}
      </h2>
    {% endif %}
  </article>
</div>
