{% include base_path %}
<style>
  @media (max-width: 767px) {
    .publication-table tr {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .publication-table td {
      width: 100% !important;
      text-align: center !important;
      padding: 10px !important;
    }

    .publication-table img {
      max-width: 80%;
      height: auto;
    }

    .publication-table .pub1 {
      font-size: 18px;
    }
  }
  .authors-info .pub-author {
    margin-bottom: 10px;
  }
  /* All author styling is handled in css/sky-theme.css (.publication-table
     .authors-info and friends) for single source of truth. */
</style>
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser" style="text-align: center;">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt=""
          style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
      </div>
    {% endif %}

    {% if post.collection == 'publications' %}
      <table class="publication-table" style="width:100%; border:5px; border-spacing:0px; border-collapse:collapse; margin-right:auto;">
        <tbody>
          <tr>
            <td style="padding:15px; width:30%; text-align:center;">
                <img src="{{ post.image }}" alt="{{ post.title }}" class="pub-thumbnail" />
            </td>
            <td style="padding:5px; width:70%;">
              <p style="margin: 0px 0;">{% if post.link %}<a class="pub1" href="{{ post.link }}"><b>{{ post.title }}</b></a>{% else %}<span class="pub1"><b>{{ post.title }}</b></span>{% endif %}
                {% if post.authors %}
                  <div class="authors-info" style="margin: 0px 0;">
                    {% assign authors_list = "" %}
                    {% assign total_authors = post.authors | size %}
                    {% assign cofirst_count = post.cofirst | default: 0 %}
                    {% assign cofirst_authors = post.authors | slice: 0, cofirst_count %}
                    
                    {% for author_id in post.authors %}
                      {% assign author = site.data.authors[author_id] %}
                      {% assign current_index = forloop.index %}  <!-- Get current index in the loop -->
                
                      {% if author_id == "huyle" %}
                        <!-- Make the author with id "huyle" bold, themed, and a link if a URL exists -->
                        {% if author.url %}
                          {% assign authors_list = authors_list | append: "<a href='" | append: author.url | append: "' target='_blank' class='pub-me' style='font-weight: bold;'>" | append: author.name | append: "</a>" %}
                        {% else %}
                          {% assign authors_list = authors_list | append: "<span class='pub-me'>" | append: author.name | append: "</span>" %}
                        {% endif %}
                      {% else %}
                        <!-- Other authors with normal text weight and link if a URL exists -->
                        {% if author.url %}
                          {% assign authors_list = authors_list | append: "<a href='" | append: author.url | append: "' target='_blank'>" | append: author.name | append: "</a>" %}
                        {% else %}
                          {% assign authors_list = authors_list | append: author.name %}
                        {% endif %}
                      {% endif %}
                
                      <!-- Check if this author is a co-first author and add an asterisk -->
                      {% if cofirst_authors contains author_id %}
                        {% assign authors_list = authors_list | append: "*" %}
                      {% endif %}
                
                      <!-- Add a comma if it's not the last author -->
                      {% if current_index < total_authors %}
                        {% assign authors_list = authors_list | append: ", " %}
                      {% endif %}
                    {% endfor %}
                    
                    <!-- Output the final list of authors -->
                    <p class="authors-line" style="margin-top: 0px; margin: 0px 0;">{{ authors_list }}</p>
                  </div>
                {% endif %}
                {% if post.type == 'conference paper' %}
                <span class="pub-venue"><i><b>{{ post.publication }}</b></i>, <span class="pub-year">{{ post.year }}</span></span><br>
                {% else %}
                <span class="pub-venue"><b>{{ post.publication }}</b> <span class="pub-year">{{ post.year }}</span></span><br>
                {% endif %}
                {% if post.additional %}
                <span class="pub-additional"><b>{{ post.additional }}</b>{% if post.workshop %}<span class="pub-additional-sep">, </span>{% endif %}</span>
                {% endif %}
                {% if post.workshop %}
              <a class="pub-workshop" href="{{ post.workshop_link }}"><u>{{ post.workshop }}</u></a>
              {% endif %}
            </p>
              {% if post.arxiv %}
                <a class="external-link button is-small is-ghost pub-btn" href="https://arxiv.org/abs/{{ post.arxiv }}" style="padding-right: 20px;">
                  <span class="icon"><i class="ai ai-arxiv"></i></span> arXiv
                </a>
              {% endif %}
              {% if post.github %}
                <a class="external-link button is-small is-ghost pub-btn" href="{{ post.github }}" style="padding-right: 20px;">
                  <span class="icon"><i class="fab fa-github"></i></span> Code
                </a>
              {% endif %}
              {% if post.page %}
                <a class="external-link button is-small is-ghost pub-btn" href="{{ post.page }}" style="padding-right: 20px;">
                  <span class="icon"><i class="fa fa-globe"></i></span> Project Page
                </a>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <h2 class="archive__item-title" itemprop="headline" style="color: #0C4A6E;">
        {% if post.link %}
          <a href="{{ post.link }}" style="color: #0C4A6E;">{{ title }}</a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink" style="color: #0C4A6E;">{{ title }}</a>
        {% endif %}
      </h2>
    {% endif %}
  </article>
</div>
